<!doctype html>
<html ng-app="admin">
	<head>
		<title>Admin</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
		<script src="../resources/js/controllers/admin/index.js"></script>
		<script src="../resources/js/controllers/admin/dashboard.js"></script>
		<link rel="stylesheet" href="../resources/styles/admin/index.css">
	</head>
	<body ng-controller="AdminController=">
		<div id="header-toolbar" class="header toolbar">
			<ul>
				<li class="button">
					<nav id="module-nav">
						<ul class="module nav" ng-controller="NavigationController" ng-repeat="module in modules">	
							<li class="module nav"><a href="{{ module.link }}#{{ admin.domain }}" class="module nav">{{ module.name }}</li>
						</ul>
					</nav>
				</li>
				<li class="button">
					<nav id="domain-nav">
						<ul class="domain nav" ng-controller="DomainController" ng-repat="domain in domains">
							<li class="domain nav"><a href="{{ admin.module }}#{{ domain.link }}" class="domain nav">{{ domain.name }}</a></li>
						</ul>
					</nav>
				</li>
				<li class="button">
					<a href="logout.html">Log out</a>
				</li>
				<li class="button">
					<a href="settings.html">Settings</a>
				</li>
			</ul>
		</div>
		<article>
			<h2 class="header">Notifications</h2>
			<div id="cms-notifications" ng-controller="NotificationController" ng-repeat="msg in notifications">
				<h2 class="headline">{{ msg.headline }}</h2>
				{{ msg.body }}
			</div>
		</article>
		<article>
			<h2 class="header">Statistics</h2>
			<div id="cms-stats" ng-controller="StatisticsController" ng-repeat="stat in stats">
				$STATS<stat id="{{ stats.id }}" src="{{ stats.link }}" style="admin" />
			</div>
		</article>
		<aside>
			<h2 class="header">News</h2>
			<div id="cms-news" class="news" ng-controller="NewsController" ng-repeat="story in stories">
				<h2 class="headline">{{ story.title }}</h2>
				<h3 class="byline">{{ story.byline }}</h3>
				<h3 class="dateline">{{ story.dateline }}</h3>
				<p class="lede">{{ story.lede }}</p>
			</div>
		</aside>
		<footer>
			<div id="footer-toolbar" class="footer toolbar">
				<ul>
					<li class="widget">
						Logged in as: {{ admin.user.firstName }} {{ admin.user.lastName }}
					</li>
					<li class="widget">
						$WEATHER<weather type="conditions" magnet="admin" />
					</li>
					<li class="widget">
						$TIME<clock/>
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>