<!doctype html>
<html ng-app="editorial">
<head>
	<title>Editorial - Story</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	<script src="../../resources/js/controllers/editorial/index.js"></script>
	<script src="../../resources/js/controllers/editorial/story.js"></script>
	<link rel="stylesheet" href="../../resources/styles/editorial/index.css">
</head>
<body ng-controller="StoryController">
	<h1>{{ story.title }}</h1>
	<h2>{{ story.byline }}</h2>
	<h3>{{ story.dateline }}</h3>
	<article>{{ story.body }}</article>
	<aside ng-show="{{ story.aside }} != null">{{ story.aside }}</aside>
</body>
</html>